.cust-text {
  font-family: "Fjalla One";
}

.k_works {
  width: 50%;
}

.videoInsert {
  max-width: 42em;
  width: 100%;
}

.videoWall>video {
  width: 260px;
  cursor: pointer;
}

.mainpage_info {
  padding-top: 3%;
}

.alert-success {

  margin: 5% 30%;
}

.imgWorks {
  width: 150px;
}

.stats {
  margin: 1% 45% 1%;
}

.results {
  margin: 5% 15% ;

}

#results {
  visibility: hidden;
}

h2 {
  margin-bottom: 3%;
}

.stats-form {
  margin: 0 45%;
}

td, th {
  color: #fff;
  background-color: #333231;
}
