
*.webm
*.jpg
backup/personal/.gitattributes
backup/personal/css/styles.css
backup/personal/docs/public_CV.pdf
backup/personal/images/background.png
backup/personal/images/cloud.png
backup/personal/images/pixelpc.png
backup/personal/index.html
backup/personal2/css/stylesheet.css
backup/personal2/docs/public_CV.pdf
backup/personal2/favicon.ico
backup/personal2/images/al.png
backup/personal2/images/boy-1.png
backup/personal2/images/boy.png
backup/personal2/images/cloud.png
backup/personal2/images/code.png
backup/personal2/images/pixelpc.png
backup/personal2/images/python.png
backup/personal2/images/server.png
backup/personal2/index.html
backup/singularfocus/
backup/works/000.php
backup/works/100.php
backup/works/200.php
backup/works/254.gif
backup/works/254.mp3
backup/works/freezeframe.js
backup/works/freezeframe_styles.min.css
backup/works/imagesloaded.pkgd.min.js
backup/works/jquery-2.1.4.js
backup/works/k/index-alt.php
backup/works/k/index-gifv.php
backup/works/k/index-png.php
backup/works/k/index-template.html
backup/works/k/index-webm.php
backup/works/k/index.html
backup/works/k/index.php
backup/works/k/rainingwindow.gif
backup/works/template.html
uploadScript/k-upload.txt
uploadScript/k-winscip-start.bat
uploadScript/creation process.txt
